#page .single-post-mobile .part-date, #page .single-post-mobile .part-author_gravatar {
    width: 50%;
}
#page .single-post-mobile .part-date .upfront-postpart-date, #page .single-post-mobile .part-author_gravatar .upfront-postpart-author_gravatar {							 		   			 	  
	max-width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
#page .single-post-mobile .part-author_gravatar .upfront-postpart-author_gravatar {
	margin-left: 0;
}
#page .single-post-mobile .part-title, #page .single-post-mobile .part-contents {
	width: 100%;
}
#page .single-post-mobile .part-title > .post-part {
	margin-top: 30px;
}
#page .single-post-mobile .part-contents > .post-part {
	margin-left: 0;
	width: 100%;
}
#page .single-post-mobile .upfront-inserted_image-wrapper.ueditor-insert-variant .ueditor-insert {
    margin: 0;
    width: 100%;
}
#page .single-post-mobile .uinsert-image-wrapper img {
    margin-right: auto;
    margin-left: auto;
    width: auto;
}


/* 44536-1491902244-au */