#page .single-post-tablet .part-date,
#page .single-post-tablet .part-author_gravatar {
    width: 25%;
}
#page .single-post-tablet .part-date .upfront-postpart-date,
#page .single-post-tablet .part-author_gravatar .upfront-postpart-author_gravatar {
	max-width: 100%;
	padding: 0 15px;
}
#page .single-post-tablet .part-author_gravatar .upfront-postpart-author_gravatar {
	margin-left: 0;
}
#page .single-post-tablet .part-title,
#page .single-post-tablet .part-contents {
	width: 100%;
}
#page .single-post-tablet .part-title > .post-part {
	margin-top: 30px;
}
#page .single-post-tablet .part-contents > .post-part {
	margin-left: 0;
	width: 100%;
}


/* 44536-1491902244-au */