.post_content {
    padding-bottom: 80px;
}
.upfront-postpart-date {
    display: block;
    max-width: 113px;
    padding: 0 10px 0 15px;
}
.upfront-postpart-date .post_date {
    background: #ufc0;
    border-radius: 50%;
    color: #ufc5;
    display: block;
    font-family: 'Special Elite', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    height: 88px;
    text-align: center;
    width: 88px;
}
.upfront-postpart-date .post_date .date_part_0 {
    display: block;
    font-size: 40px;
    padding-top: 15px;
}
.upfront-postpart-date .post_date .date_part_1 {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
}
 .upfront-postpart-author_gravatar {
    display: block;
    margin-left: -22px;
    max-width: 113px;
    padding: 0 15px 0 10px;
}
 .upfront-postpart-author_gravatar > .auhor_gravatar {
    height: 88px;
    width: 88px;
}
.upfront-postpart-title .post_title {
    margin: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    text-align: left;
    text-transform: uppercase;
}
.post_title:after {
    display: none;
}
.post_content h1, .post_content h2, .post_content h3, .post_content h4, .post_content p, .post_content address, .post_content table, .post_content pre, .post_content cite, .post_content q, .post_content iframe, .post_content embed {
    margin: 0 0 30px;
}
.post_content h5, .post_content h6 {
    margin: 0 0 10px;
}
.post_content h6 {
    text-transform: uppercase;
}
.post_content > *:last-child {
    margin-bottom: 0;
}
.post_content img {
    display: block;
    height: auto;
    max-width: 100%;
}
.post_content .alignnone, .post_content .aligncenter, .post_content .alignright, .post_content .alignleft {
    max-width: 100%;
}
.post_content .alignnone, .post_content div.alignnone, .post_content .aligncenter, .post_content div.aligncenter, .post_content img.aligncenter {
    display: block;
    margin: 0 auto 30px auto;
}
.post_content .alignright, .post_content img.alignright {
    float: right;
    margin: 0 5px 30px 15px;
}
.post_content .alignleft, .post_content img.alignleft {
    float: left;
    margin: 0 15px 30px 5px;
}
.post_content h4 {
    line-height: 1.667em;
}
.post_content p {
    -ms-word-break: break-word;
    word-break: break-word;
}
.post_content ul, .post_content ol {
    margin-bottom: 30px
}
.post_content ul li, .post_content ol li {
    margin-bottom: 10px
}
.post_content .wp-caption-text p, .post_content p.wp-caption-text {
    color: #ufc1;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.667em;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
}
.post_content .wp-caption-text > * {
    margin: 0;
}
.post_content .wp-caption-text a {
    color: #ufc0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.333em;
}
.post_content .ueditor-insert.upfront-inserted_image-wrapper,
.post_content .ueditor-insert.upfront-inserted_image-wrapper:hover {
    margin: 0;
}
.post_content .ueditor-insert {
    min-height: auto !important;
}
.post_content .ueditor-insert-variant .ueditor-image-style-full-width,
.post_content .ueditor-insert-variant .ueditor-image-style-center {
    margin-bottom: 30px;
}
.post_content .ueditor-insert-variant .ueditor-image-style-right {
    margin: 0 0 15px 30px;
}
.post_content .ueditor-insert-variant .ueditor-image-style-left {
    margin: 0 30px 15px 0;
}
.post_content .upfront-wrapper.uinsert-image-wrapper {
    min-height: auto !important;
    padding: 0;
}
.post_content .upfront-wrapper.wp-caption-text {
    color: #ufc1;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.667em;
    min-height: auto !important;
    margin: 0;
    text-align: center;
    padding: 15px 0 0;
}
.post_content .upfront-wrapper.wp-caption-text p {
    margin: 0;
}
.upfront-postpart-contents .post_content dl {
    font-family: 'Special Elite', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}
.upfront-postpart-contents .post_content dt {
    line-height: 2.2em;
    text-decoration: underline;
}
.upfront-postpart-contents .post_content dd {
    color: #ufc3;
    line-height: 2.2em;
    margin: 0;
    padding: 0 0 0 15px;
}
.upfront-postpart-contents .post_content pre {
    background: #ufc3;
    padding: 15px !important;
    white-space: pre-wrap;
}
.upfront-postpart-contents .post_content address {
    color: #ufc3;
    font-family: 'Special Elite', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.upfront-postpart-contents .post_content table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
}
.upfront-postpart-contents .post_content table > tbody > tr > td, .upfront-postpart-contents .post_content table > tbody > tr > th, .upfront-postpart-contents .post_content table > tfoot > tr > td, .upfront-postpart-contents .post_content table > tfoot > tr > th, .upfront-postpart-contents .post_content table > thead > tr > td, .upfront-postpart-contents .post_content table > thead > tr > th {
    border-top: 1px solid #cacbcb;
    color: #ufc3;
    font-family: 'Special Elite', Arial, sans-serif;
    line-height: 1.4em;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
.upfront-postpart-contents .post_content table > thead > tr > th {
    border-bottom: 2px solid #cacbcb;
    color: #ufc1;
    font-size: 18px;
    vertical-align: bottom;
}
.upfront-postpart-contents .post_content table thead > tr:first-child > td, .upfront-postpart-contents .post_content table thead > tr:first-child > th, .upfront-postpart-contents .post_content table thead > tr:first-child > td, .upfront-postpart-contents .post_content table thead > tr:first-child > th, .upfront-postpart-contents .post_content table > thead:first-child > tr:first-child > td, .upfront-postpart-contents .post_content table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
.upfront-postpart-contents .post_content .post-password-form input[type="password"] {
    background: #ufc2;
    box-sizing: border-box;
    color: #ufc3;
    font-family: "Lato", Arial, sans-serif;
    font-size: 13px;
    padding: 15px;
    width: 100%;
}
.upfront-postpart-contents .post_content .post-password-form input[type="submit"] {
    background: #ufc0;
    color: #ufc5;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px 20px;
}
.upfront-postpart-contents .post_content iframe, .upfront-postpart-contents .post_content embed {
    display: block;
    max-width: 100%;
}
.upfront-postpart-contents .post_content blockquote cite {
    color: #ufc3;
    display: block;
    font-size: 20px;
    text-transform: none;
}
.upfront-postpart-contents .post_content blockquote cite:before {
    content: '-';
    display: inline-block;
    margin-right: 15px;
}
.upfront-postpart-contents .post_content blockquote cite a {
    text-decoration: none;
}
.upfront-postpart-contents .post_content .gallery-icon img {
    width: 100%;
}
.upfront-postpart-contents .post_content .gallery-caption {
    padding: 0;
}


/* 44536-1491902244-au */