table {
	margin: 0 0 1.5em;
	width: 100%;
}
thead tr td{
	background: #eee;
}
td{padding:0.5rem;}
td.review-date{
	min-width:5rem;
	font-size:0.75em;
}
.reviews tbody tr{
	border-bottom:1px solid #ccc;
}
table.reviews {
    max-width: 50rem;
    margin: 2rem auto 0;
}

@media #{$breakpoint-small} {
	td.review-date{
		min-width:8rem;
		font-size:1em;
	}
}