/* Your styles here */

/* Search Widget */
.widget.widget_search {
    overflow: hidden;
}
.search-form {
    background: #ufc2;
    border-radius: 20px;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.search-form:before {
    background: url("UPFRONT_THEME_BASE/ui/Panino_Sprites.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/Panino_Sprites.svg"), none;
    background-position: -549px -1029px;
    content: "";
    height: 22px;
    left: 0;
    margin: 9px 10px;
    position: absolute;
    top: 0;
    width: 22px;
}
.search-form > div {
    display: table;
    position: relative;
    width: 100%;
}
.search-form .screen-reader-text {
    display: none;
}
.search-form input[type="search"] {
    background: transparent;
    box-sizing: border-box;
    color: #ufc3;
    display: table-cell;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
    padding: 12px 15px 12px 50px;
    text-transform: uppercase;
    width: 100%;
}
.search-form input[type="search"]::-webkit-input-placeholder {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
}
.search-form input[type="search"]::-moz-placeholder {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
}
.search-form input[type="search"]::-ms-input-placeholder {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 13px;
}
.search-form .upfront-search-submit_group {
    display: table-cell;
    position: relative;
    width: 1%;
}
.search-form .upfront-search-submit_group:after {
    background: url("UPFRONT_THEME_BASE/ui/panino_sprite_v2.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/panino_sprite_v2.svg"), none;
    background-position: -547px -872px;
    content: "";
    height: 18px;
    left: 0;
    margin: -7px auto 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    width: 26px;
    z-index: 3;
}
.search-form input[type="submit"] {
    background-color: #ufc0;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    position: relative;
    text-indent: -9999em;
    -webkit-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
    width: 40px;
    z-index: 2;
}
.search-form input[type="submit"]:hover {
    /*background-color: #ufc1;*/
}
 /* Text Widget */
.widget.widget_text {
    color: #ufc4;
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
}
 /* Artchives/Categories Widget */
.widget.widget_archive select,  .widget.widget_categories select {
    background: transparent;
    border: 1px solid #ufc3;
    color: #ufc3;
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
}
 /* Tag Cloud Widget */
.widget.widget_tag_cloud .tagcloud a {
    display: inline-block;
    padding: 3px 6px;
}
 /* Calendar Widget */
.widget.widget_calendar table {
    border-spacing: 0;
    border-collapse: collapse;
    max-width: 100%;
    width: 100%;
}
 .widget.widget_calendar table > tbody > tr > td,  .widget.widget_calendar table > tbody > tr > th,  .widget.widget_calendar table > tfoot > tr > td,  .widget.widget_calendar table > tfoot > tr > th,  .widget.widget_calendar table > thead > tr > td,  .widget.widget_calendar table > thead > tr > th {
    border-top: 1px solid #cacbcb;
    color: #ufc3;
    font-family: 'Special Elite', Arial, sans-serif;
    line-height: 1.4em;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
 .widget.widget_calendar table > thead > tr > th {
    border-bottom: 2px solid #cacbcb;
    color: #ufc1;
    font-size: 18px;
    vertical-align: bottom;
}
 .widget.widget_calendar table thead > tr:first-child > td,  .widget.widget_calendar table thead > tr:first-child > th,  .widget.widget_calendar table thead > tr:first-child > td,  .widget.widget_calendar table thead > tr:first-child > th,  .widget.widget_calendar table > thead:first-child > tr:first-child > td,  .widget.widget_calendar table > thead:first-child > tr:first-child > th {
    border-top: 0;
}


/* 44536-1491902244-au */