.upfront-region-container-home-slider .upfront-default-slider-nav-prev, .upfront-region-container-home-slider .upfront-default-slider-nav-next {
    background-color: #ufc0;
    border-radius: 50%;
    display: block;
    opacity: 1;
    height: 56px;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
    width: 56px;
}
.upfront-region-container-home-slider .upfront-default-slider-nav-prev:before, .upfront-region-container-home-slider .upfront-default-slider-nav-next:before {
    background: url("UPFRONT_THEME_BASE/ui/panino_sprite_v2.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/panino_sprite_v2.svg"), none;
    content: "";
    height: 34px;
    left: 0;
    margin: -17px auto 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
}
.upfront-region-container-home-slider .upfront-default-slider-nav-prev:before {
    background-position: -870px -703px;
    right: 7px;
    top:28px;
}
.upfront-region-container-home-slider .upfront-default-slider-nav-next:before {
    background-position: -712px -703px;
    left: 4px;
    top:29px;
}
.upfront-region-container-home-slider .upfront-default-slider-nav-prev:hover, .upfront-region-container-home-slider .upfront-default-slider-nav-next:hover {
    background-color: #ufc1;
}
.upfront-region-container-home-slider .upfront-bg-slider .upfront-default-slider-nav {
    bottom: 30px;
    left: 0;
    position: absolute;
    right: 0;
}
.upfront-region-container-home-slider .upfront-default-slider-nav-item {
    background: #ufc4;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.upfront-region-container-home-slider .upfront-default-slider-nav-item.uslider-dotnav-current {
    background: #ufc0;
}
.upfront-region-container-home-slider .upfront-default-slider-nav-prev {
    left: 10%;
}
.upfront-region-container-home-slider .upfront-default-slider-nav-next {
    right: 10%;
}


/* 44536-1491902244-au */