.upfront-tabs-container .tabs-menu-wrapper {
    background: #ufc3;
    border: 1px solid #ufc4;
    overflow: hidden;
}
.upfront-tabs-container .tabs-tab {
    background: #ufc2;
    border-right: 1px solid #ufc3;
    text-align: center;
}
.upfront-tabs-container .tabs-tab-active {
    background: #ufc0;
}
.upfront-tabs-container .tabs-content {
    background: #ufc5;
    border: 1px solid #ufc3;
    border-top: none;
    color: #ufc4;
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    line-height: 2.2em;
    padding: 15px;
}


/* 44536-1491902244-au */