#page .u-brand-menu-mobile.upfront-plain_txt h1, #page .u-brand-menu-mobile.upfront-plain_txt a {
    color: #ufc0;
    font-family: 'Lato', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin-left:0px;
}
#page .u-brand-menu-mobile.upfront-plain_txt h1 {
    font-size: 18px;
    line-height: 2.2em;
    text-transform: none;
}
#page .u-brand-menu-mobile.upfront-plain_txt a {
    text-decoration: none;
}
#page .u-brand-menu-mobile.upfront-plain_txt a:hover {
    color: #ufc5;
}
#page .u-brand-menu-mobile h1:after {
    content: "";
    display: block;
    margin-bottom: 0px;
}


/* 44536-1491902244-au */