#page .u-bullets.upfront-plain_txt p, #page .u-bullets .upfront-plain_txt span {
    color: #ufc0;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}


/* 44536-1491902244-au */