#page .u-page-content-title .upfront-plain_txt h1, #page .u-page-content-title.upfront-plain_txt h2, #page .u-page-content-title .upfront-plain_txt h3 {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}
#page .u-page-content-title .upfront-plain_txt h1:after, #page .u-page-content-title.upfront-plain_txt h2:after, #page .u-page-content-title .upfront-plain_txt h3:after {
    background: #ufc1;
    margin-top: 0;
}


/* 44536-1491902244-au */