#page .u-script.upfront-plain_txt, #page .u-script .upfront-output-plain_txt {
    text-align: center;
}
#page .u-script.upfront-plain_txt p, #page .u-script.upfront-plain_txt a, #page .u-script .upfront-output-plain_txt p, #page .u-script .upfront-output-plain_txt a {
    color: #ufc1;
    display: inline-block;
    font-family: 'Oleo Script', cursive;
    font-size: 30px;
    line-height: 0.6em;
    text-decoration: none;
    text-indent: 0;
}


/* 44536-1491902244-au */