#page .u-button-logo.upfront-button {
    padding: 0;
    text-align: center;
    width: 100%;
    height:100%;
}
#page .u-button-logo.upfront-button a.upfront_cta {
    cursor: default;
    display: block;
    font-weight: 300;
    height: 280px;
    margin: 0 auto;
    opacity: 1;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: none;
    width: 280px;
}
#page .u-button-logo.upfront-button a:hover {
    opacity: 1;
}


/* 44536-1491902244-au */