#page .u-button-anchor.upfront-button {
    text-align: center;
}
#page .u-button-anchor.upfront-button a.upfront_cta {
    display: inline-block;
    height: 48px;
    padding: 0;
    position: relative;
    width: 48px;
    margin-bottom:80px;
}
#page .u-button-anchor.upfront-button a.upfront_cta:before {
    background: url("UPFRONT_THEME_BASE/ui/panino_sprite_v2.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/panino_sprite_v2.svg"), none;
    background-position: -66px -227px;
    content: "";
    left: 0;
    height: 28px;
    margin: -14px auto 0;
    position: absolute;
    right: 0;
    top: 50%;
    width: 28px;
}


/* 44536-1491902244-au */