#page .u-button-twitter.upfront-button {
    text-align: center;
}
#page .u-button-twitter .upfront_cta {
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    padding: 0;
    width: 75px;
    position: relative;
}
#page .u-button-twitter .upfront_cta:before {
    content: "";
    background: url("UPFRONT_THEME_BASE/ui/panino_sprite_v2.png") no-repeat;
    background-image: url("UPFRONT_THEME_BASE/ui/panino_sprite_v2.svg");
    background-position: -223px -703px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 33px;
    height: 33px;
    margin: auto;
}
#page .u-button-twitter .upfront_cta .uf_font_icon {
    line-height: 75px;
}


/* 44536-1491902244-au */