#page .u-button-circle-home.upfront-button {
    text-align: center;
}
#page .u-button-circle-home.upfront-button a.upfront_cta {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    line-height: 60px;
    padding: 0;
    width: 60px;
}


/* 44536-1491902244-au */