#page .u-button-social.upfront-button {
    text-align: center;
}
#page .u-button-social .upfront_cta {
    border-radius: 50%;
    display: inline-block;
    height: 75px;
    padding: 0;
    width: 75px;
}
#page .u-button-social .upfront_cta .uf_font_icon {
    line-height: 75px;
}


/* 44536-1491902244-au */