.uimage-caption-cover {
    color: #ufc4;
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.9em;
    text-align: center;
}


/* 44536-1491902244-au */