#page .u-menu-footer div[data-style='horizontal'] ul.menu > li.menu-item > a, #page .u-menu-footer div[data-style='vertical'] ul.menu > li.menu-item > a {
    color: #ufc5;
    font-family: 'special elite';
    font-size: 15px;
    line-height: 1.43em;
    padding:0;
    margin:0;
    color: #ufc0;
}
#page .u-menu-footer div[data-style='horizontal'] ul.menu > li.menu-item > a:after {
    display: none;
}
#page .u-menu-footer .upfront-output-unewnavigation[data-style="vertical"] {
    padding: 0;
}
#page .u-menu-footer div[data-style='vertical'] ul.menu {
    line-height: 2.2em;
}
#page .u-menu-footer div[data-style='vertical'] ul.menu > li.menu-item > a {
    display: inline-block;
    line-height: 1.2em;
}
#page .u-menu-footer div[data-style='horizontal'] ul.menu > li.menu-item > a:hover, #page .u-menu-footer div[data-style='vertical'] ul.menu > li.menu-item > a:hover {
    color: #ufc2;
}


/* 44536-1491902244-au */