.upfront-navigation ul.menu, .upfront-navigation ul.sub-menu {
    background-color: transparent;
}
.upfront-navigation ul.menu > li.new_menu_item a.menu_item {
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.39em;
    padding: 0;
}
 div[data-style='horizontal'] ul.menu,  div[data-style='vertical'] ul.menu {
    line-height: 1em;
}
 div[data-style='horizontal'] ul.menu > li.menu-item > a,  div[data-style='vertical'] ul.menu > li.menu-item > a {
    border-color: transparent;
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.39em;
    padding: 0;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
 div[data-style='horizontal'][data-aliment='right'] ul.menu > li.menu-item > a,  div[data-style='vertical'][data-aliment='right'] ul.menu > li.menu-item > a {
    padding-right: 20px
}
 div[data-style="horizontal"] ul.sub-menu,  div[data-style="vertical"] ul.sub-menu {
    margin-left: 0;
}
 div[data-style="horizontal"] ul.sub-menu > li,  div[data-style="vertical"] ul.sub-menu > li {
    display: block;
    min-width: 200px;
    padding-left: 0;
}
 div[data-style='horizontal'] ul.sub-menu > li.menu-item > a,  div[data-style='vertical'] ul.sub-menu > li.menu-item > a {
    background-color: #ufc1;
    color: #ufc3;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 3.056em;
    padding: 0 1.5em;
    position: relative;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

div.upfront-navigation div.burger_overlay {
  background-color:rgba(0, 0, 0, 0.8);
  z-index: 1;
}

 div[data-style='horizontal'] ul.sub-menu > li.menu-item > a:hover,  div[data-style='vertical'] ul.sub-menu > li.menu-item > a:hover {
    background-color: #ufc0;
    color: #ufc1;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-has-children > a:after,  div[data-style='horizontal'] ul.sub-menu li.parent > a:after,  div[data-style='vertical'] ul.sub-menu li.menu-item-has-children > a:after,  div[data-style='vertical'] ul.sub-menu li.parent > a:after {
    border-top-color: #ufc3;
    top: 45%;
    right: .75em;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-has-children:hover > a:after,  div[data-style='horizontal'] ul.sub-menu li.parent:hover > a:after,  div[data-style='vertical'] ul.sub-menu li.menu-item-has-children:hover > a:after,  div[data-style='vertical'] ul.sub-menu li.parent:hover > a:after {
    border-top-color: transparent;
    border-left-color: #ufc3;
}
 div[data-style='horizontal'] ul.sub-menu li.menu-item-depth-4 ul.sub-menu,  div[data-style='vertical'] ul.sub-menu li.menu-item-depth-4 ul.sub-menu {
    left: 0;
    position: relative;
}
 div[data-style="horizontal"][data-already_floating="yes"] ul.menu,  div[data-style="vertical"][data-already_floating="yes"] ul.menu {
    background-color: #ufc1;
    padding: 15px;
}
 div[data-style='horizontal'][data-already_floating="yes"] ul.menu > li.menu-item-has-children > ul.sub-menu,  div[data-style='horizontal'][data-already_floating="yes"] ul.sub-menu {
    padding-top: 15px;
}
 div[data-style='horizontal'] ul.menu > li.menu-item {
    margin-left: 1.5em;
}
 div[data-style='horizontal'] ul.menu > li.menu-item:first-child {
    margin-left: 0;
}
 div[data-style='horizontal'] ul.menu > li.menu-item > a:after {
    background: #ufc0;
    bottom: -2px;
    border: none;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: inherit;
    visibility: hidden;
    width: 100%;
}
 div[data-style='horizontal'] ul.menu > li.current-menu-item > a:after {
    border: none;
}
 div[data-style='horizontal'] ul.menu > li.menu-item > a:hover,  div[data-style='horizontal'] ul.menu > li.current-menu-item > a {
    color: #ufc0;
}
 div[data-style='horizontal'] ul.menu > li.menu-item > a:hover:after,  div[data-style='horizontal'] ul.menu > li.current-menu-item > a:after {
    visibility: visible;
}
 div[data-style='horizontal'] ul.menu > li.menu-item-has-children > ul.sub-menu,  div[data-style='horizontal'] ul.sub-menu {
    padding-top: 10px;
}
 div[data-style='horizontal'] ul.sub-menu ul.sub-menu {
    padding-top: 0;
}
 div[data-style='vertical'] ul.menu li.menu-item {
    margin-top: 15px;
}
 div[data-style='vertical'] ul.menu li.menu-item:first-child {
    margin-top: 0;
}
 div[data-style='vertical'] ul.sub-menu li.menu-item {
    margin-top: 0;
}
div[data-style='burger'] ul.menu {
    background: #ufc1;
}

div.responsive_nav_toggler, .upfront-navigation i.burger_nav_close {
    background: #ufc2;
    color: #ufc1;
    transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
}

div.responsive_nav_toggler:hover, .upfront-navigation i.burger_nav_close:hover {
    background: #ufc0;
    color: #ufc1;
}

div.responsive_nav_toggler {
    width: 30px;
    height: 30px;
    padding-top: 10px;
    border: 0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index: 0;
}
div.responsive_nav_toggler > div {
    width: 16px;
    height: 2px;
    margin-bottom: 2px;
    background: #ufc1;
}

div.responsive_nav_toggler:hover > div {
    background: #ufc1;
}

div.responsive_nav_toggler > div:last-child {
    margin-bottom: 0;
}
.wrap_burger_nav_close:before {
    content: "";
}
.upfront-navigation i.burger_nav_close {
    margin: 20px 0 20px 20px;
    border: 0;
    line-height: 36px;
    font-size: 22px;
}
div[data-style='burger'] ul.menu > li.menu-item > a {
    display: inline-block;
    color: #ufc3;
    font-size: 18px;
    font-family: "Lato";
    font-weight: 300;
}
div[data-style='burger'] ul.menu > li.current-menu-item > a, div[data-style='burger'] ul.menu > li.menu-item > a:hover {
    color: #ufc2;
}
div.upfront-navigation div.upfront-navigation[data-style="burger"][data-burger_alignment="right"] ul.menu {
    min-width: 200px;
    max-width: 200px;
    padding: 0 20px;
    width: auto;
}
div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li {
    margin-bottom: 5px;
}
div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li:last-child,
div.upfront-navigation div[data-style="burger"][data-burger_alignment="right"] ul.menu li.wrap_burger_nav_close {
    margin-bottom: 0;
}
div[data-style='burger'][data-burger_alignment="right"] ul.menu > li.menu-item > a {
    padding: 0;
}


/* 44536-1491902244-au */