.upfront-object.upfront-comment,  .upfront-output-object.upfront-comment {
    margin-bottom: 40px;
}
.upfront-comment ol.upfront-comments {
    list-style: none;
    padding-bottom: 40px;
    border-bottom: 1px solid #ufc2;
    margin: 0 0 45px;
}
.upfront-comment ol.children {
    clear: both;
    list-style: none;
    margin-top: 30px;
}
.upfront-comment li.comment {
    margin-top: 20px;
    padding-top:40px;
    overflow: hidden;
    border-top: 1px solid #ufc2;
}
.upfront-comment li.comment:first-child {
    margin-top: 0;
}
.upfront-comment li.comment article {
    overflow: hidden;
}
.upfront-comment .comment-meta {
    line-height: 50px;
    overflow: hidden;
}
.upfront-comment .avatar {
    border-radius: 50%;
    float: left;
    margin-right: 15px;
    display: none;
}
.upfront-comment cite.fn {
    float: left;
    line-height: 1.4em;
    text-transform: capitalize;
    width: 100%;
}
.upfront-comment cite.fn, .upfront-comment cite.fn a {
    color: #ufc1;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}
.upfront-comment .comment-time {
    float: left;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    text-decoration: none;
    width: 100%;
    margin-bottom:15px;
    color: #ufc1;
}

.upfront-comment .comment-time a {
}
.upfront-comment .comment-time:hover {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 14px;
}
.upfront-comment .comment-content {
    margin-left: 0;
}
.upfront-comment .comment-content p{
    font-size: 16px;
    margin: 0px 0px 5px;
    line-height: 30px;
}
.upfront-comment .comment-content p a{
    font-size: 14px;
    color: #ufc1;
}
.upfront-comment .comment-content p:last-child {
    margin-bottom: 0;
}
.upfront-comment .comment-content blockquote {
    margin-bottom: 30px;
}
.upfront-comment .comment-content blockquote cite {
    color: #ufc3;
    display: block;
    font-size: 20px;
    margin-top: 15px;
    text-transform: none;
}
.upfront-comment .comment-content blockquote cite:before {
    content: '-';
    display: inline-block;
    margin-right: 15px;
}
.upfront-comment .comment-content blockquote cite a {
    text-decoration: none;
}
.upfront-comment .comment-content table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 30px;
    max-width: 100%;
    width: 100%;
}
.upfront-comment .comment-content table > tbody > tr > td, .upfront-comment .comment-content table > tbody > tr > th, .upfront-comment .comment-content table > tfoot > tr > td, .upfront-comment .comment-content table > tfoot > tr > th, .upfront-comment .comment-content table > thead > tr > td, .upfront-comment .comment-content table > thead > tr > th {
    border-top: 1px solid #cacbcb;
    color: #ufc3;
    font-family: 'Special Elite', Arial, sans-serif;
    line-height: 1.4em;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
.upfront-comment .comment-content table > thead > tr > th {
    border-bottom: 2px solid #cacbcb;
    color: #ufc1;
    font-size: 18px;
    vertical-align: bottom;
}
.upfront-comment .comment-content table thead > tr:first-child > td, .upfront-comment .comment-content table thead > tr:first-child > th, .upfront-comment .comment-content table thead > tr:first-child > td, .upfront-comment .comment-content table thead > tr:first-child > th, .upfront-comment .comment-content table > thead:first-child > tr:first-child > td, .upfront-comment .comment-content table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
.upfront-comment .comment-content dl {
    font-family: 'Special Elite', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}
.upfront-comment .comment-content dt {
    color: #ufc1;
    line-height: 2.2em;
    text-decoration: underline;
}
.upfront-comment .comment-content dd {
    color: #ufc3;
    line-height: 2.2em;
    margin: 0;
    padding: 0 0 0 15px;
}
.upfront-comment .comment-content pre {
    background: #ufc3;
    color: #ufc1;
    padding: 15px;
    white-space: pre-wrap;
}
.upfront-comment .comment-content ol {
    list-style: decimal;
    padding-left: 60px;
}
.upfront-comment .comment-content address {
    color: #ufc3;
    font-family: 'Special Elite', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.upfront-comment .reply {
    float: right;
    margin-top:-35px;
    display:block;
    position: relative;
}
.upfront-comment .comment-reply-link {
    border-radius: 15px;
    background-color: #ufc3;
    font-size: 12px;
    font-family: 'Lato', Arial, sans-serif;
    color: #ufc5;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.upfront-comment .comment-reply-link:hover {
    background: #ufc1;
    color: #ufc5;
    font-family: 'Lato', Arial, sans-serif;
}
.upfront-comment .reply span {
    display: none;
}
.upfront-comment .comment-awaiting-moderation {
    background: #ufc3;
    color: #ufc5;
    font-size: 14px;
    margin: 15px 0 15px 65px;
    padding: 5px;
    text-align: center;
}
/* Respond Form */
.comment-respond .comment-reply-title {
    background: transparent;
    color: #ufc1;
    display: table;
    font-family: "Special Elite", Arial, sans-serif;
    font-style: normal;
    margin: 0 0 0px;
    padding:0px;
    white-space: normal;
}

h3.comment-reply-title small {
    display: block;
    font-size:16px;
}
h3.comment-reply-title a {
    text-decoration: underline;
    color: #ufc1;
}

h3.comment-reply-title a:hover {
    text-decoration: none;
    color: #ufc1;
}
#respond,
#commentform {
    overflow: hidden;
}
.comment-respond input[type="text"], .comment-respond textarea {
    background: #ufc5;
    border: 1px solid #ufc2;
    box-sizing: border-box;
    color: #ufc1;
    display: block;
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    /*max-width: 555px;*/
    padding: 10px 15px;
    width: 100%;
    border-radius:4px;
     -webkit-transition: border-color .2s;
    transition: border-color .2s;
}
.comment-respond textarea {
    margin-bottom: 15px;
    resize:vertical;
    height:150px;
    max-height:250px;
    padding: 5px 15px;
}
.comment-respond input[type="text"]{
    padding: 10px 15px;
}
.comment-respond input[type="text"]:focus, .comment-respond textarea:focus {
    border: 1px solid #ufc3;
}

.comment-respond label {
    color: #ufc4;
    font-family: "Lato", Arial, sans-serif;
    font-size: 13px;
}

.comment-form-comment label {
    display:none;
}

.comment-respond .logged-in-as, .comment-respond .comment-notes {
    font-family: "Lato", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.comment-respond .logged-in-as a {
    color: #ufc1;
}

.comment-respond .form-allowed-tags {
    display: none;
}
.comment-respond .form-submit {
    margin-bottom: 0;
    overflow: hidden;
}
.comment-respond .form-submit .submit {
    background: #ufc0;
    color: #ufc5;
    float: right;
    font-size: 16px;
    padding: 18px 20px 12px;
    border-radius:4px;
     -webkit-transition: background-color .2s;
    transition: background-color .2s;

}
.comment-respond .form-submit .submit:hover {
    background: #ufc1;
}

.upfront-comment {
    min-height: 200px;
 }


/* 44536-1491902244-au */