.upfront-contact-form .ucontact-label-above {
    margin-bottom: 1.25em;
}
.ucontact-label-above label {
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 0.25em;
}
 .ucontact-label-inline label {
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    line-height: 2.1em;
}
.upfront-contact-form input.ucontact-input, .upfront-contact-form textarea.ucontact-input {
    background: #ufc5;
    border: 1px solid #ufc3;
    color: #ufc3;
    font-family: 'Special Elite', Arial, sans-serif;
    font-size: 18px;
    padding: 0.5em;
}
.upfront-contact-form input.ucontact-input:hover, .upfront-contact-form textarea.ucontact-input:hover {
    color: #ufc4;
}
.upfront-contact-form input.ucontact-input:disabled, .upfront-contact-form textarea.ucontact-input:disabled {
    border-color: #ufc2;
    color: #ufc2;
}
.upfront-contact-form .upfront-contact-form button[type="submit"] {
    background-color: #ufc6;
    color: #ufc4;
    font-family: 'Special Elite', Arial, sans-serif;
    padding: .5em 1.5em;
    text-transform: uppercase;
    -webkit-transition: background-color .4s;
    transition: background-color .4s;
}
.upfront-contact-form button[type="submit"]:disabled {
    background-color: #ufc0;
}
.upfront-contact-form button[type="submit"]:hover {
    background-color: #ufc3;
}
.upfront-contact-form .ucontact-message-container {
    margin-bottom: 0;
}
.upfront-contact-form .ucontact-message-container.ucontact-success-response {
    background-color: transparent;
    padding: 0;
    position: relative;
    margin: 0;
}
.upfront-contact-form .ucontact-message-container.ucontact-success-response:after {
    content: "";
    display: none;
}
.upfront-contact-form .ucontact-message-container.ucontact-success-response div {
    display: block;
}
.upfront-contact-form .ucontact-msg, .upfront-contact-form .ucontact-msg.info p {
    font-family: 'Special Elite', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 2.2em;
}
.upfront-contact-form .ucontact-msg {
    margin-bottom: 1.25em;
    padding: 15px;
}
.upfront-contact-form .ucontact-msg.error {
    background: #f2dede;
    color: #a94442;
}
.upfront-contact-form .ucontact-msg.info {
    background: #dff0d8;
    color: #3c763d;
}
.upfront-contact-form .ucontact-msg.info p {
    color: #3c763d;
    display: block;
    margin: 0;
    text-align: left;
}


/* 44536-1491902244-au */